name: Publish Docker image
on:
  release:
    types: [published]
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.15
        uses: actions/setup-java@v1
        with:
          java-version: 1.15
      - name: Build with Maven
        working-directory: ./lady-diary-backend
        run: mvn clean install --file pom.xml
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./lady-diary-backend
          file: ./lady-diary-backend/Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: francischdour/ig2i-lady-diary-backend
          tag_with_ref: true
